<?xml version="1.0" ?>
<phpunit bootstrap="./PHPUnit/bootstrap.php">
    <testsuite name="SchnoopSchema Test Suite">
        <directory>./tests/SchnoopSchema/</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>