<?xml version="1.0" ?>
<phpunit bootstrap="./PHPUnit/bootstrap.php">
    <testsuites>
        <testsuite name="unit_tests">
            <directory>./tests/SchnoopSchema/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="display_errors" value="On" />
        <ini name="error_reporting" value="E_ALL" />
        <ini name="xdebug.mode" value="coverage" />
    </php>
</phpunit>